.header-nav {
  &__header-top {
    padding: 10px 20px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    color: white;
  }
  &__header-bot {
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    z-index: 99999;
    nav {
      width: 80%;
      text-align: center;
      .navbar-collapse {
        justify-content: center;
      }
    }
    .logo-wrapper {
      width: 10%;
    }
    .user-menu {
      width: 10%;
    }
  }
}
.logo {
  width: 80px;
}

.navbar {
  display: flex;
}
